html {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*--------------------------
       NAV COMPONENT
--------------------------*/

#nav-container {
  display: flex;
  position: fixed;
  top: 0%;
}

#nav-div {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  background-color: yellow;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

#nav-title-div, #nav-link-div {
  padding: 20px;
}

/*--------------------------
      WELCOME COMPONENT
--------------------------*/

#welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30% 0;
}

#welcome-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome-div, #title-div, #sub-title-div, #login-signup-guest-div {
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin: 10px 15px;
}

h1, h2 {
  display: flex;
  justify-content: center;
  text-align: center;
}

#login-signup-guest-div {
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

#login-signup-guest-div div {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 1px solid black;
  margin: 2px;
}

/*--------------------------
      FOOTER COMPONENT
--------------------------*/

footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
}

#footer-container {
  width: 100%;
}

#footer-div {
  display: flex;
  height: 40px;
  width: 100%;
  background-color: green;
  justify-content: center;
  align-items: center;
}

/*---------------------------------------
RECORD COMPONENT
---------------------------------------*/

#recorder-div {
  margin: 75px;
}

/*---------------------------------------
TRANSLATION COMPONENT
---------------------------------------*/

#translation-container {
  display: flex;
  width: 100%;
  margin: 75px auto;
  flex-direction: column;
}

#translation-div, #input-div, #translation-form {
  flex-direction: column;
  display: flex;
  width: 100%;
}

#input-box, #result-box {
  width: 85%;
  font-size: 1.75em;
  padding: 20px;
  box-sizing: border-box;
}

textarea {
  outline: none;
}

select, input {
  border: 1px solid black;
  margin: 10px;
  outline: none;
}

button {
  outline: none;
}

select {
  height: 40px;
  font-size: 1.5em;
  padding-left: 6%;
  text-align: center;
  width: 130px;
}


#to-from-div {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 30px 0 0;
}

#submit-btn {
  justify-content: center;
  margin: 0 auto 5px;
  width: 25%;
  color: white;
  border: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-bottom: 5px;
  font-size: 1.25em;
  outline: none;
}

#submit-btn:active {
  color: gray;
}


#from-div {
  display: flex;
  flex-direction: row;
  flex: 3;
}

#from-text {
  position: absolute;
  bottom: 90%;
  left: 5%;
  border-radius: 15px;
  color: white;
  background-color: lightblue;
  padding: 5px;
  z-index: 2;
} 

#langFrom {
    position: relative;
    width: 150px;
    left: 15%;
    margin: 0;
    top: 15%;
    padding-left: 10px;
    border-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: lightblue;
    color: white;
    border: none;
    outline: none;
}

#triangle-div {
  position: relative;
  margin-bottom: 10.5%;
  flex: 1;
}

#triangle-topleft {
  position: absolute;
	width: 0;
	height: 0;
  top: 15%;
	border-top: 40px solid lightblue;
	border-right: 40px solid transparent;
}

#triangle-bottomright {
  position: absolute;
	width: 0;
	height: 0;
  top: 15%;
	border-bottom: 40px solid lightgreen;
	border-left: 40px solid transparent;
}

#to-div {
  display: flex;
  flex-direction: row;
  flex: 3;
}


#langTo {
    width: 150px;
    right: 10%;
    margin: 0;
    top: 15%;
    position: relative;
    padding-left: 10px;
    border-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: lightgreen;
    color: white;
    border: none;
    outline: none;
}

#to-text {
  position: absolute;
  top: 85%;
  right: 5%;
  border-radius: 15px;
  color: white;
  background-color: lightgreen;
  padding: 5px;
  z-index: 2;
}


#two-button-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin: 25px 25px 0 25px;
}

#save-btn, #clear-btn  {
  font-size: 1.5em;
  border: 1px solid black;
  padding: 10px 15px;
}

#convo-btn {
  font-size: 2em;
  border: 1px solid black;
  padding: 5px 10px;
  
}

#recognize-button-container {
  display: flex;
  position: absolute;
  bottom: 4%;
  left: 43%;
  border: 1px solid black;
  border-radius: 100%;
  padding: 10px;
}

.off {
  background-color: white;
  color: black;
  border: none;
}

@keyframes record {
    0%   {color: white}
    50%  {color: red}
    100% {color: white}
}

.rec {
  background-color: red;
  color: white;
  border: none;
  animation-name: record;
  animation-duration: 1s;
  animation-iteration-count: 20;
  animation-timing-function: ease;

}

#start-recog {
  background: none;
  border: none;
  outline: none;
}

textarea {
  border: 1px solid black;
  margin: auto;
}

/*-----------------------------
PHRASE LIST COMPONENT 
-----------------------------*/

.add-phrase-form {
  display: flex;
  flex-direction: row;
}

.edit-phrase-form {
  display: flex;
  flex-direction: row;
}