html {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*--------------------------
       NAV COMPONENT
--------------------------*/

#nav-container {
  display: flex;
  position: fixed;
  top: 0%;
}

#nav-div {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  background-color: yellow;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

#nav-title-div, #nav-link-div {
  padding: 20px;
}

/*--------------------------
      WELCOME COMPONENT
--------------------------*/

#welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30% 0;
}

#welcome-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome-div, #title-div, #sub-title-div, #login-signup-guest-div {
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin: 10px 15px;
}

h1, h2 {
  display: flex;
  justify-content: center;
  text-align: center;
}

#login-signup-guest-div {
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

#login-signup-guest-div div {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 1px solid black;
  margin: 2px;
}

/*--------------------------
      FOOTER COMPONENT
--------------------------*/

footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
}

#footer-container {
  width: 100%;
}

#footer-div {
  display: flex;
  height: 40px;
  width: 100%;
  background-color: green;
  justify-content: center;
  align-items: center;
}

/*---------------------------------------
RECORD COMPONENT
---------------------------------------*/

#recorder-div {
  margin: 75px;
}

/*---------------------------------------
TRANSLATION COMPONENT
---------------------------------------*/

#translation-container {
  display: flex;
  width: 100%;
  margin: 75px auto;
  flex-direction: column;
}

#translation-div, #input-div, #translation-form {
  flex-direction: column;
  display: flex;
  width: 100%;
}

#input-box, #result-box {
  width: 85%;
  font-size: 1.75em;
  padding: 20px;
  box-sizing: border-box;
}

select, input {
  border: 1px solid black;
  margin: 10px;
}

#to-from-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

#two-button-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
}

#save-btn, #clear-btn {
  font-size: 1.5em;
  border: 1px solid black;
  padding: 5px 35px;
}

#recognize-button-container {
  display: flex;
  position: absolute;
  bottom: 10%;
  left: 43%;
  border: 1px solid black;
  border-radius: 100%;
  padding: 10px;
}

.off {
  background-color: white;
  color: black;
  border: none;
}

.rec {
  background-color: red;
  color: white;
  border: none;
}

#start-recog {
  background: none;
  border: none;
  outline: none;
}





textarea {
  border: 1px solid black;
  margin: auto;
}