html {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

/*--------------------------
       NAV COMPONENT
--------------------------*/

#nav-container {
  display: flex;
  position: absolute;
  top: 0%;
}

#nav-div {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  background-color: yellow;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

#nav-title-div, #nav-link-div {
  padding: 20px;
}

/*--------------------------
      WELCOME COMPONENT
--------------------------*/

#welcome-container {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

#welcome-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome-div, #title-div, #sub-title-div, #login-signup-guest-div {
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin: 10px 15px;
}

h1, h2 {
  display: flex;
  justify-content: center;
  text-align: center;
}

#login-signup-guest-div {
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

#login-signup-guest-div div {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 1px solid black;
  margin: 2px;
}

/*--------------------------
      FOOTER COMPONENT
--------------------------*/

#footer-container {
  display: flex;
  position: absolute;
  bottom: 0%;
  height: 40px;
  width: 100%;
  background-color: green;
}

#footer-div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#footer-text-container {
  margin: auto;
}
